<div class="row">
  <h1>All pets</h1>
</div>
<div class="row">
  <% @pets.each do |pet| %>
    <div class="small-12 medium-6 large-4 column">
      <%= image_tag('pet.png', alt: pet.name) %>
      <h2><%= pet.name %></h2>
      <p><%= link_to 'Show', pet, class: 'button tiny info' %>
      <%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny alert' %></p>
    </div>
  <% end %>
</div>
<% if current_user.pet.nil? %>
  <div class="row">
    <%= link_to 'Add new pet', new_pet_path, class: 'button success' %>
  </div>
<% end %>