<%= image_tag('pets/pet.png', alt: @pet.name) %>

<p>You see <strong><%= @pet.name %></strong>.</p>

<p><strong><%= @pet.name %></strong> loves you.</p>

<p>Hunger is <%= @pet.hunger%>.</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
