<div class="row">
  <h1>All species</h1>
</div>
<div class="row">
  <% @species.each do |species| %>
    <div class="small-12 medium-6 large-4 column">
      <%= image_tag(species.image_normal, alt: species.name) %>
      <h2><%= species.name %></h2>
      <p><%= link_to 'Show', species, class: 'button tiny info' %>
      <%= link_to 'Edit', edit_species_path(species), class: 'button tiny success' %>
      <%= link_to 'Destroy', species, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny alert' %></p>
    </div>
  <% end %>
</div>
<div class="row">
  <%= link_to 'Add new species', new_species_path, class: 'button success' %>
</div>
