<div class="row">
  <h1><%= @species.name %> (#<%= @species.id %>)</h1>
</div>
<div class="row">
  <%= image_tag(@species.image_normal, alt: @species.name) %>
</div>
<div class="row">
  <%= link_to 'Edit', edit_species_path(@species), class: 'button success' %>
  <%= link_to 'Back', species_index_path, class: 'button info' %>
</div>