<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="field">
      <%= f.label :provider %><br>
      <%= f.text_field :provider %>
    </div>
    <div class="field">
      <%= f.label :uid %><br>
      <%= f.text_field :uid %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :token %><br>
      <%= f.text_field :token %>
    </div>
    <div class="field">
      <%= f.label :expires_at %><br>
      <%= f.datetime_field :expires_at %>
    </div>
    <div class="field">
      <%= f.input :admin, as: :boolean %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>